<h1>Alerts</h1>

<h2>Contextual modifiers</h2>

<%= showcase_example do %>
  <div class="alert"><b>Default</b> nothing more than a default alert</div>
  <div class="alert alert--primary"><b>Primary</b> nothing more than a primary alert</div>
  <div class="alert alert--success"><b>Success</b> nothing more than a success alert</div>
  <div class="alert alert--notice"><b>Notice</b> nothing more than a notice alert</div>
  <div class="alert alert--warning"><b>Warning</b> nothing more than a warning alert</div>
  <div class="flash flash--alert"><b>Alert</b> nothing more than a alert alert</div>
  <div class="alert alert--danger"><b>Danger</b> nothing more than a danger alert</div>
  <div class="flash flash--error"><b>Error</b> nothing more than a error alert</div>
<% end %>

<h2>Flash class</h2>
<p>In rails we use flash a lot, these classes can be used directly with the rails flash
system.</p>
<%= showcase_example do %>
  <div class="flash"><b>Default</b> nothing more than a default flash</div>
  <div class="flash flash--success"><b>Success</b> nothing more than a success flash</div>
  <div class="flash flash--notice"><b>Notice</b> nothing more than a notice flash</div>
  <div class="flash flash--alert"><b>Alert</b> nothing more than a alert flash</div>
  <div class="flash flash--error"><b>Error</b> nothing more than a error flash</div>
<% end %>
