<h1>Breadcrumbs</h1>

<h2>Default</h2>

<%= showcase_example do %>
  <ul class="breadcrumbs">
    <li><%= link_to 'Foo', '#' %></li>
    <li><%= link_to 'Bar', '#' %></li>
    <li>Subject</li>
  </ul>
<% end %>
