<h1>Error Explanation</h1>

<h2>Default</h2>

<%= showcase_example do %>
  <div class="error-explanation">
    <h2>1 error prohibited this EAN blacklisting from being saved:</h2>
    <ul>
      <li>Code can&#39;t be blank</li>
      <li>Value is not a number</li>
    </ul>
  </div>
<% end %>
