<h1>Flash</h1>

<%= showcase_example do %>
  <span class="flash">Default</span>
  <span class="flash flash--success">Success flash message</span>
  <span class="flash flash--notice">Notice flash message</span>
  <span class="flash flash--alert">Alert flash message</span>
  <span class="flash flash--error">Error flash message</span>
<% end %>