<h1>Header</h1>

<%= showcase_example do %>
  <header class="header">
    <div class="header__wrapper">
      <%= link_to root_path do %>
        <div class="project">
          <div class="project__image"></div>
          <div class="project__name">Simhanada</div>
        </div>
      <% end %>
    </div>
  </header>
<% end %>