<h1>Labels</h1>

<h2>Size modifiers</h2>

<%= showcase_example do %>
  <span class="label label--xs">Extra Small</span>
  <span class="label label--sm">Small</span>
  <span class="label">Default</span>
  <span class="label label--lg">Large</span>
  <span class="label label--xl">Extra Large</span>
<% end %>

<h2>Contextual modifiers</h2>

<%= showcase_example do %>
  <span class="label">Default</span>
  <span class="label label--primary">Primary</span>
  <span class="label label--success">Success</span>
  <span class="label label--notice">Notice</span>
  <span class="label label--warning">Warning</span>
  <span class="label label--danger">Danger</span>
<% end %>

<h2>Usage within a paragraph</h2>
<%= showcase_example do %>
  <p>Lorem ipsum dolor sit amet, <span class="label">consectetur</span> adipiscing elit.
    Ut tristique lorem egestas risus rhoncus bibendum. Suspendisse
    <span class="label label--lg label--warning">eleifend</span> elit eget imperdiet
    blandit. Nullam nisl tellus, porta quis lorem id, sollicitudin euismod orci.
    <span class="label label--xl label--success">Maecenas</span> vestibulum aliquet nulla
    dignissim imperdiet. Donec ac lorem ac erat accumsan euismod ut at est. Etiam viverra
    tristique congue. Duis nec nunc vel risus <span class="label label--xs">sagittis</span>
    fermentum et at enim.</p>
<% end %>


<h2>Usage within a header</h2>
<%= showcase_example do %>
  <h1>H1 header with a <span class="label">Label</span></h1>
  <h2>H2 header with a <span class="label">Label</span></h2>
  <h3>H3 header with a <span class="label">Label</span></h3>
  <h4>H4 header with a <span class="label">Label</span></h4>
  <h5>H5 header with a <span class="label">Label</span></h5>
  <h6>H6 header with a <span class="label">Label</span></h6>
<% end %>
