<h1>Margins</h1>

<h2>No margin</h2>
<%= showcase_example do %>
  <div class="grid grid--showcase grid--align-top">
    <div class="col-1-2"><h3>Header with margin</h3></div>
    <div class="col-1-2"><h3 class="no-margin">Header without margin</h3></div>
  </div>
<% end %>