<h1>Pagination</h1>

<h2>Base styling</h2>

<%= showcase_example do %>
  <nav class="pagination">
    <span class="pagination__control"><a href="#">&laquo; First</a></span>
    <span class="pagination__control"><a href="#">&lsaquo; Prev</a></span>
    <span class="pagination__page"><a href="#">1</a></span>
    <span class="pagination__page pagination__page--selected">2</span>
    <span class="pagination__page"><a href="#">3</a></span>
    <span class="pagination__gap">..</span>
    <span class="pagination__page"><a href="#">4</a></span>
    <span class="pagination__page"><a href="#">5</a></span>
    <span class="pagination__control"><a href="#">Next &rsaquo;</a></span>
    <span class="pagination__control"><a href="#">Last &raquo;</a></span>
  </nav>
<% end %>
