.breadcrumbs {

  font-size: $font-sm-size;
  margin-bottom: $spacing-sm;
  padding-bottom: $spacing-xs;
  border-bottom: 1px $base-border-color dotted;

  > * {
    display: inline-block;
  }

  > *:after {
    display: inline-block;
    margin: 0 0.1em 0 0.3em;
    content: '»';
    color: $dark-grey;
  }

  > *:last-child:after {
    content: '';
  }

}