
.button {
  @include button;
  @include button-color;
  @include button-sizes;
}

.button, #{$all-buttons} {
  &.button--xs {
    font-size: 80%;
    padding: .3em .7em;
  }

  &.button--sm {
    font-size: 85%;
    padding: .3em 1em;
  }

  &.button--lg {
    font-size: 110%;
  }

  &.button--xl {
    font-size: 125%;
  }

  &.button--primary {
    @include button-color($primary-color, shade($primary-color, 15%), $white);
  }

  &.button--danger {
    @include button-color($danger-color, shade($danger-color, 15%), $white);
  }

  &.button--success {
    @include button-color($success-color, shade($success-color, 15%), $white);
  }

  &.button--notice {
    @include button-color($notice-color, shade($notice-color, 15%), $white);
  }

  &.button--warning {
    @include button-color($warning-color, shade($warning-color, 15%), $white);
  }

  &.button--block {
    display: block;
    margin-bottom: $spacing-sm;
    text-align: center;
  }
}

