.sub-nav {

  @include nav();
  padding: 0;
  font-size: 16px;
  border-bottom: 1px darken($white, 10) solid;
  margin: $spacing-lg 0;

  &__item {

    > a {
      display: block;
      padding: 0.5rem 3rem;
      color: $dark-grey;

      &:hover {
        color: $orange;
      }
    }


    &--selected {
      border-radius: $btn-border-radius;
      border: 1px darken($white, 10) solid;
      border-bottom-color: $white;
      margin-bottom: -1px;

      a {

      }
    }

  }
}