$top-nav-border-color: shade($nav-bg-color, 10%);

.top-nav {
  @include nav();

  background-color: $nav-bg-color;
  font-size: $font-lg-size;
  border-bottom: 1px $top-nav-border-color solid;

  &__layout {

  }

  &__item {

    &--selected {
      background-color: $white;
      border: 1px $top-nav-border-color solid;
      border-top: 2px $header-link-color solid;
    }

    > a {
      display: block;
      color: $nav-text-color;

      &:hover {
        color: $link-color-hover;
      }
    }
  }

  @media screen and (max-width: $break-sm) {
    &__item {
      display: block;
      padding: 0;

      &--selected {
        border-radius: $base-border-radius;
      }

      > a {
        display: block;
        padding: $spacing-xs $spacing-md;
      }
    }
  }

  @media screen and (min-width: $break-sm) {
    padding: $spacing-sm 0 0 0;
    margin-bottom: $spacing-md;

    &__layout {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      border-bottom: 0;
      border-radius: $btn-border-radius $btn-border-radius 0 0;

      &--selected {
        margin-bottom: -1px;
        border-bottom-color: $white;
      }

      > a {
        display: inline-block;
        padding: 0 30px;
        line-height: 36px;
      }
    }
  }
}
