.wrap {
  padding: 0 $spacing-sm;
  width: 100%;
  margin: auto;

  @media screen and (min-width: $break-sm) {
    width: auto;
    padding: 0 $spacing-lg;
  }

  @media screen and (min-width: $break-xl) {
    width: $screen-xl;
  }

  &--xs {
    width: $screen-sm;
  }

  &--xxl {
    @media screen and (min-width: $break-xl) {
      width: auto;
      max-width: $screen-xxl;
    }
  }

}
