.form {

  max-width: $form-max-width;

  .form__group {
    font-weight: $bold;
    margin-bottom: $spacing-sm;
  }

  label,
  .form__label,
  .form__input,
  .form__control-label{
    margin-bottom: $spacing-sm;
  }

  label,
  .form__label {
    display: block;

    input[type=checkbox],
    input[type=radio] {
      margin: 0 $spacing-xs 0 0;
    }
  }

  .form__errors {
    margin-bottom: $spacing-md;
    color: $danger-text-color;
  }

  .form__control-group {
    margin-bottom: $spacing-sm;
    label {
      margin-bottom: $spacing-xs;
    }
  }

  .form__control-group--inline {
    label,
    .form__label {
      display: inline-block;
      margin-right: $spacing-xs;
    }
  }

  .form__group-comment {
    margin-top: $spacing-xs * -1;
    margin-bottom: $spacing-sm;

    .alert {
      margin: 0;
    }
  }

  &--aligned {

    .form__group {

      @media screen and (min-width: $break-sm) {

        @include clearfix;

        label,
        .form__label {
          float: left;
          width: calc(#{$form-aligned-label-width} - #{$grid-gutter});
          text-align: right;
          margin-top: $spacing-xs;
          margin-right: $grid-gutter;
        }

        .form__input {
          float: left;
          width: calc(#{$form-max-width} - #{$form-aligned-label-width} - #{$grid-gutter});
        }

        .form__input-small {
          width: calc((#{$form-max-width} - #{$form-aligned-label-width} - #{$grid-gutter})/4);
        }

        .form__date_select {
          width: calc((#{$form-max-width} - #{$form-aligned-label-width} - #{$grid-gutter})/3);
        }

        .form__control-group,
        .form__control-label {
          float: left;
          margin-left: $form-aligned-label-width;
        }

        .form__control-group label,
        .form__control-label {
          float: none;
          display: block;
          width: auto;
          text-align: left;
          margin-top: 0;
          margin-right: 0;
        }
      }
    }

    .form__group--controls {
      .form__control-group,
      .form__control-label {
        float: left;
        margin-left: $spacing-lg;
        margin-top: $spacing-xs;
      }
    }

    legend,
    .form__actions,
    .form__errors{
      margin-bottom: $spacing-sm;

      @media screen and (min-width: $break-sm) {
        margin-left: $form-aligned-label-width;
      }
    }

    .form__group-comment {
      @media screen and (min-width: $break-sm) {
        margin-top: $spacing-sm * -1 - $spacing-xs;
        margin-right: $spacing-sm;
        margin-left: $form-aligned-label-width;
      }
    }
  }

  &--inline-grouped {

    display: flex;
    align-items: flex-start;
    margin-bottom: $spacing-sm;

    .form__group,
    .form__actions {
      white-space: nowrap;
      flex: 1 1 20%;
    }

    .form__group {
      margin: 0 $spacing-sm 0 0;
    }

    .form__actions,
    .form__control-group,
    .form__control-label {
      margin-top: $base-line-height * 16px + $spacing-sm;
    }

    .form__group-comment {
      margin-top: $base-line-height * 16px + $spacing-sm;
      margin-left: $spacing-xs * -1;
      margin-right: $spacing-sm;
    }

    .form__group--controls {
      .form__control-group,
      .form__control-label {
        margin-top: 0;
      }
    }

  }

  &--inline {
    max-width: unset;

    label,
    .form__label,
    .form__group,
    .form__actions,
    .form__control-group,
    .form__input,
    .form__group-comment {
      display: inline;
      margin: 0;
    }

    label,
    .form__label {
      margin-right: $spacing-xs;
    }

    .form__group {
      margin-right: $spacing-sm;
    }

    select,
    .#{$all-text-inputs} {
      width: auto;
    }

    .form__group-comment {
      margin-left: $spacing-sm * -1;
      .alert {
        display: inline-block;
      }
    }

  }

}


.field_with_errors {
  display: inline;
  label,
  .form__label {
    color: $danger-text-color;
  }
}
