
.grid {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -1 * $grid-gutter;

  &--align-top {
    align-items: flex-start;
  }

  &--align-bottom {
    align-items: flex-end;
  }

  &--align-baseline {
    align-items: flex-end;
  }

  &--align-stretch {
    align-items: stretch;
  }

  &--outline {
    outline: 1px red solid;
    padding: 3px 3px 0 3px;
    > * {
      outline: 1px blue solid;
      margin-bottom: 3px;
    }
  }

  &--showcase {
    padding: 3px 3px 0 3px;
    > * {
      padding: $spacing-md;
      background-color: lighten($light-grey, 10%);
      margin-bottom: 3px;
    }
  }

  &--res-bg-color {
    > * {
      color: $white;
      background-color: $res-xs-color;

      @media screen and (min-width: #{$break-sm}) {
        background-color: $res-sm-color;
      }
      @media screen and (min-width: #{$break-md}) {
        background-color: $res-md-color;
      }
      @media screen and (min-width: #{$break-lg}) {
        background-color: $res-lg-color;
      }
      @media screen and (min-width: #{$break-xl}) {
        background-color: $res-xl-color;
      }
    }
  }

  .col {
    &--align-center {
      align-self: center;
    }
    &--align-top {
      align-self: flex-start;
    }
    &--align-middle {
      align-self: center;
    }
    &--align-bottom {
      align-self: flex-end;
    }
    &--align-baseline {
      align-self: baseline;
    }
    &--align-stretch {
      align-self: stretch;
    }
  }

  /*
    Adds classes like
    .col-1-3 {
      width: 33.33%;
    }
    .col-xs-4-5 {
      width: 33%;
    }
  */

  @include build-grid('col');
  @include build-grid('col', 'xs');
  @include build-grid('col', 'sm');
  @include build-grid('col', 'md');
  @include build-grid('col', 'lg');

}
