
.grid {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -1 * $grid-gutter;

  &--aligned-top {
    align-items: inherit;
  }

  &--outline {
    outline: 1px red solid;
    padding: 3px 3px 0 3px;
    > * {
      outline: 1px blue solid;
      margin-bottom: 3px;
    }
  }

  &--showcase {
    > * {
      padding: $spacing-md;
      background-color: $light-grey;
    }
  }

  &--res-bg-color {
    > * {
      color: $white;
      background-color: $res-xs-color;

      @media screen and (min-width: #{$break-sm}) {
        background-color: $res-sm-color;
      }
      @media screen and (min-width: #{$break-md}) {
        background-color: $res-md-color;
      }
      @media screen and (min-width: #{$break-lg}) {
        background-color: $res-lg-color;
      }
      @media screen and (min-width: #{$break-xl}) {
        background-color: $res-xl-color;
      }
    }
  }

  /*
    Adds classes like
    .col-1-3 {
      width: 33.33%;
    }
    .col-xs-4-5 {
      width: 33%;
    }
  */

  @include build-grid('col');
  @include build-grid('col', 'xs');
  @include build-grid('col', 'sm');
  @include build-grid('col', 'md');
  @include build-grid('col', 'lg');

  .col {
    &--aligned-center, &--aligned-center > * {
      text-align: center;
    }
    &--aligned-right, &--aligned-right > * {
      text-align: right;
    }
  }

}