.table {

  &--condensed {
    font-size: $font-sm-size;
    tr {
      padding: 0;
    }
    th, td {
      padding: .2em .4em;
    }
  }

  &--full {
    width: 100%;
  }

  &--striped {
    th, td {
      padding-left: 1em;
      padding-right: 1em;
    }
    tbody tr:nth-child(odd) {
      background-color: $table-stripe-color;
    }
  }

  &--results {
    font-size: $font-xs-size;
    width: 100%;
    tr {
      padding: 0;
    }
    th, td {
      padding: 0.4em 1em;
    }
    tbody tr:nth-child(odd) {
      background-color: $table-stripe-color;
    }
  }
}

.tr {
  &--danger {
    background-color: $danger-bg-color;
    color: $danger-text-color;
  }
  &--danger-bg {
    background-color: $danger-bg-color;
  }
}
