.table {

  &--condensed {
    font-size: $font-sm-size;
    tr {
      padding: 0;
    }
    th, td {
      padding: .2em .4em;
    }
  }

  &--full {
    width: 100%;
  }

  &--striped {
    th, td {
      padding-left: 1em;
      padding-right: 1em;
    }

    tbody tr:nth-child(odd) {
      background-color: $table-stripe-color;
    }

    tbody tr.tr {
      &--danger, &--danger-bg {
        background-color: $danger-bg-color;
      }
    }

    tbody tr.tr {
      &--success, &--success-bg {
        background-color: $success-bg-color;
      }
    }

    tbody tr.tr {
      &--warning, &--warning-bg {
        background-color: $warning-bg-color;
      }
    }

  }

  &--results {
    font-size: $font-xs-size;
    width: 100%;
    tr {
      padding: 0;
    }
    th, td {
      padding: 0.4em 1em;
    }
    tbody tr:nth-child(odd) {
      background-color: $table-stripe-color;
    }
  }
}

.tr {
  &--danger {
    background-color: $danger-bg-color;
    color: $danger-text-color;
  }
  &--danger-bg {
    background-color: $danger-bg-color;
  }
  &--success {
    background-color: $success-bg-color;
    color: $success-text-color;
  }
  &--success-bg {
    background-color: $success-bg-color;
  }
  &--warning {
    background-color: $warning-bg-color;
    color: $warning-text-color;
  }
  &--warning-bg {
    background-color: $warning-bg-color;
  }
}
