.no-margin {
  margin: 0;
}

.field_with_errors {
  display: inline-block;
  label {
    color: $danger-text-color;
    font-weight: $bold;
  }
  input,
  textarea,
  select {
    background-color: tint($danger-bg-color, 40%)!important;
    color: $danger-text-color;
    border-color: $danger-text-color !important;
  }
}

.hidden,
.hide {
  display: none!important;
}